@use "../../assets/styles/variables" as *;


.search-box{
    width: 100%;
    display: flex;
    margin-top: 30px;


    .search-box__input{
        width: 70%;
        padding: 10px;
        color: $primary-colour;
        border: 3px solid $tertiary-colour;
        border-radius: 10px;
        margin: 0 auto;
        font-family: $tertiary-font;
        font-size: $small;
    }
}

