@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anek+Devanagari:wght@100..800&family=Jersey+15&display=swap');

$title-font: ("Jersey 15");
$secondary-font: ("Acme");
$tertiary-font: ("Anek Devanagari");

//colours

$black: black;
$white: white;
$primary-colour: #0c3703;
$primary-colour-translucent: #0c370396;
$secondary-colour: #07530b;
$secondary-colour-translucent: #021b026e;
$tertiary-colour: #047213;
$fourth-colour: #0a9115;
$background-colour: #b4e7c3;


//font-size
$h1: 40px;
$h2: 35px;
$h3: 30px;
$paragraph: 24px;
$small: 12px