@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anek+Devanagari:wght@100..800&family=Jersey+15&display=swap');

$title-font: ("Jersey 15");
$secondary-font: ("Acme");
$tertiary-font: ("Anek Devanagari");

//colours

$black: black;
$white: white;
$primary-colour: #030637;
$secondary-colour: #3C0753;
$secondary-colour-translucent: #3c07536e;
$tertiary-colour: #720455;
$fourth-colour: #910A67;
$background-colour: #e7b4d7;


//font-size
$h1: 40px;
$h2: 35px;
$h3: 30px;
$paragraph: 24px;