.nav{
    // border: solid 1px purple;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    width: auto;
    height: auto;
}